<h2 class="text-center">Portal wasserij Engelbertink</h2>

<!-- slider directive -->
<div myslider>
    <ul class="slider">
        <li class="image-slider">
            <img src="http://www.wasserijengelbertink.nl/sites/all/themes/we/images/page2-slide4.jpg" alt="Image">
        </li>
        <li class="image-slider">
            <img src="http://www.wasserijengelbertink.nl/sites/all/themes/we/images/page1-slide1.jpg" alt="Image">
        </li>
        <li class="image-slider">
            <img src="http://www.wasserijengelbertink.nl/sites/all/themes/we/images/page2-slide2.jpg" alt="Image">
        </li>
        <li class="image-slider">
            <img src="http://www.wasserijengelbertink.nl/sites/all/themes/we/images/page4-slide4.jpg" alt="Image">
        </li>
    </ul>
</div>

<h3 style="text-align:center">Inloggen</h3>
    <form class="sign-up">
    <input type="text" class="sign-up-input" name="gebruiker" ng-model="user" placeholder="Gebruikersnaam" autofocus>
    <input type="password" class="sign-up-input" name="password" ng-model="password" placeholder="Wachtwoord">
    <input id="login" type="button" class="sign-up-button" value="Log in" ng-click="login()"/>
    <div style="color:red;margin-top:10px;text-align:center;">{{errorMessage}}</div>
  </form>



