<h2>Beheer paneel</h2>
<div class="form-wrapper">
        <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Datum*</label>
        <div class="col-10">
        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
            <input type="text" value="Kies een datum..."   ng-model="program.date"  class="form-control">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
        </div>
        </div>
        <div class="form-group row">
            <div class="dropdown">
                <label for="example-text-input" class="col-2 col-form-label">Mangel*</label>
                <div class="col-10">
                    <button class="btn btn-primary dropdown-toggle" type="button" style="width:50%;text-align:left;" data-toggle="dropdown">{{program.selectedMangel}}
                    <span class="caret" style="text-align:right;float:right"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="mangel in mangels"><a ng-model="program.selectedMangel" ng-click="selectMangel(mangel)">{{mangel}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Klantcode*</label>
            <div class="col-10">
                <input class="form-control" type="text" ng-model="program.customercode" id="example-text-input" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Klantnaam*</label>
            <div class="col-10">
                <input class="form-control" type="text" ng-model="program.customername" id="example-search-input" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-email-input" class="col-2 col-form-label">Contactpersoon</label>
            <div class="col-10">
                <input class="form-control" type="text" ng-model="program.contactperson" id="example-email-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-url-input" class="col-2 col-form-label">Wasprogramma*</label required>
            <div class="col-10">
                <input class="form-control" type="text" ng-model="program.washprogram" id="example-url-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-info-input" class="col-2 col-form-label">Extra info</label>
            <div class="col-10">
                <textarea class="form-control" rows="5" id="example-tel-input" ng-model="program.info"></textarea>
            </div>
        </div>
        <span style="color:red;margin-left:20px;margin-top:15px;">{{errorMessage}}</span>
        <button class="btn btn-secondary" ng-click="saveProgram()" style="float:left;" type="button">Opslaan</button>
    </div>