<h2>Wasserij - mangel {{mangel}}</h2>
<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Klantnummer...">
            <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Vind</button>
      </span>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Klantnaam...">
            <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Vind</button>
      </span>
        </div>
    </div>
</div>
